---
title: Configuring BOSH Director on Azure Germany
owner: Ops Manager
---



This topic describes how to use Pivotal Operations Manager to configure the BOSH Director on Azure Germany.

First, you must complete the steps in [Preparing to Deploy Ops Manager on Azure Manually](./prepare-env-manual.html) and [Deploying Ops Manager on Azure Manually](./deploy-manual.html).

Then, in the BOSH Director tile, select **Azure German Cloud** from the **Azure Environment** dropdown.

For more information about configuring Azure, see [Azure Config Page](config-manual.html#azure-config) in _Configuring BOSH Director on Azure Manually_.

<p class="note"><strong>Note</strong>: Azure Germany is only supported in <%= vars.product_name %> (formerly <%= vars.product_name_code_embed%>) v1.10.1 and later.</p>
