---
title: Configuring BOSH Director on Azure Germany
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to use Pivotal Cloud Foundry (PCF) Ops Manager to configure the BOSH Director on Azure Germany.

First, you must complete the steps in [Preparing to Deploy Ops Manager on Azure Manually](./prepare-env-manual.html) and [Deploying BOSH and Ops Manager to Azure Manually](./deploy-manual.html).

Then, in the BOSH Director tile, select **Azure German Cloud** from the **Azure Environment** dropdown.

For more information about configuring Azure, see [Azure Config Page](config-manual.html) in the _Configuring Ops Manager on Azure_ topic.

<p class="note"><strong>Note</strong>: Azure Germany is only supported in PCF 1.10.1 and later.</p>
