---
title: Overriding Manifest Properties in Advanced Mode
owner: Ops Manager
---

This topic describes how you can use Advanced Mode to override some manifest properties.
This allows you to change properties that you cannot change through the Ops Manager UI
or the Ops Manager API.


## <a id='overview'></a> Overview

Ops Manager is an interface to the BOSH Director manifest and the runtime configs
that underlie VMware Tanzu.
Ops Manager does not allow you to edit the manifest and configs directly.

When you configure Ops Manager through the UI or API,
you set many of the properties contained in the manifest and configs.
Ops Manager sets some other properties for you, and other properties use the default
values provided by VMware Tanzu or BOSH.

Use the manifest property override feature described in this topic to modify properties
that cannot be modified in other ways.


## <a id='prerequisite'></a> Prerequisite

Before you can override properties, you must set Ops Manager to Advanced Mode.

<p class="note warning"><strong>Warning:</strong> <%= vars.company_name %> recommends that
only skilled operators use Advanced Mode in Ops Manager.
If you use Advanced Mode incorrectly, you can disable or destroy your deployment.
</p>

To set Ops Manager to Advanced Mode, follow the procedure in [How to Enable Advanced Mode
in the Ops Manager](https://community.pivotal.io/s/article/How-to-Enable-Advanced-Mode-in-the-Ops-Manager?language=en_US)
in the Knowledge Base.

For more information about Advanced Mode,
see [Advanced Mode](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Mode)
in the Ops Manager API documentation.


## <a id='process'></a> Procedure

To override manifest properties:

1. If the property that you want to change can be modified through the Ops Manager UI
or the Ops Manager API, use the UI or API to change the property.

1. If the property cannot be modified through the Ops Manager UI or the Ops Manager API:
    1. Determine if the property can be overridden.
    See [Overridable Properties](#properties).
    1. If the property is in the BOSH Director Manifest,
    see [Override BOSH Director Manifest Properties](#bosh-overrides).
    1. If the property is in one of the runtime configs,
    see [Override Runtime Config Properties](#runtime-config-overrides).

<p class="note warning"><strong>Warning:</strong> No validation is performed on the properties that you change
using Advanced Mode.
For example, if you enter a string where an integer is required, no error is given.
</p>

You can also view the BOSH Director manifest,
view the list of overrides for the BOSH Director and runtime configs,
and delete the overrides using the Ops Manager API.
For more information, see [Advanced Manifest Configuration](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration)
in the Ops Manager API documentation.


## <a id='properties'></a> Overridable Properties

You can edit properties in the BOSH Director manifest and two of the runtime configs.

### <a id='bosh-director-manifest'></a> BOSH Director Manifest

In the BOSH Director manifest, you can override properties in the following sections:

* `network`
* `instance_group` `jobs`

You cannot:

* Edit properties in other sections of the BOSH Director manifest
* Add or delete a network
* Add or delete an instance group

### <a id='runtime-configs'></a> Runtime Configs

You can edit properties in two add-ons in each of two of the runtime configs files.
The table below lists these properties:

<table>
  <tr>
    <th>Runtime Config</th>
    <th>Add-on</th>
  </tr>
  <tr>
    <td><code>ops_manager_dns_runtime</code></td>
    <td>
      <ul>
        <li><code>bosh_dns</code></li>
        <li><code>bosh_dns_windows</code></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><code>ops_manager_system_metrics_runtime</code></td>
    <td>
      <ul>
        <li><code>system_metrics_agent</code></li>
        <li><code>system_metrics_agent_windows</code></li>
      </ul>
    </td>
  </tr>
</table>


## <a id="bosh-overrides"></a> Override BOSH Director Manifest Properties

To override properties in the BOSH Director manifest:

1. Use the `/api/v0/staged/director/overrides` endpoint.

For more information, see
[Provide a new list of overrides for the BOSH Director](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration/paths/~1api~1v0~1staged~1director~1overrides/put)
in the Ops Manager API documentation.


## <a id="runtime-config-overrides"></a> Override Runtime Config Properties

To override properties in the runtime configs:

1. Use the `/api/v0/staged/director/runtime_configs/overrides` endpoint.

For more information, see:

* [BOSH DNS job spec](https://github.com/cloudfoundry/bosh-dns-release/blob/master/jobs/bosh-dns/spec) in GitHub.
This file shows the properties and defaults for the `bosh_dns` add-on in the `ops_manager_dns_runtime`.

* [Provide a new list of runtime config overrides for the BOSH
Director](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration/paths/~1api~1v0~1staged~1director~1runtime_configs~1overrides/put)
in the Ops Manager API documentation.


## <a id='examples'></a> Examples of Overridable Properties

This section contains examples of properties that customers have asked to override.

### <a id='example1'></a> BOSH Director Manifest Example: Change the Network Type to Dynamic

By default, the network type is set to `manual`.
You cannot change this property through the Ops Manager UI or API.

You can override this default by changing the value of the `type` property
in the `networks` section of the BOSH Director manifest.

### <a id='example2'></a> Runtime Config Example: Change the Timeout for the BOSH DNS Network Health Check

By default, the network timeout for synchronous health checks is 1 second.
You cannot edit this property through the Ops Manager UI or API.

You can override this default by changing the value of the
`health.health.synchronous_check_timeout` property
in the `bosh-dns` add-on of the `ops_mananger_dns_runtime` runtime config.
