---
title: Overriding Manifest Properties in Advanced Mode
owner: Ops Manager
---

This topic describes something

## <a id='overview'></a> Overview

The 


## <a id="xxx"></a> 

Create a new topic in the "Advanced Features in Ops Manager" section of the subnav (next to this topic, for example https://docs-pcf-staging.cfapps.io/platform/2-10/customizing/lock-on-deploy.html#unlock). New topic should include:
Indication that Advanced Mode is required
A Warning that overriding is advanced (for an example of this warning, see https://docs-pcf-staging.cfapps.io/platform/2-10/customizing/lock-on-deploy.html#unlock)
A link to the API docs (see below)
A link to the KB article that explains how to enable Advanced mode. See https://community.pivotal.io/s/article/How-to-Enable-Advanced-Mode-in-the-Ops-Manager?language=en_US
Description of how these overrides work
One or more useful examples of properties that you might override (work with Vibhas and/or Brian on this)
Go back into the related release note for this feature, and add a link to this new topic you just created. See #172800280
Also add a link to this topic from the related release note about editing runtime config properties using the API: https://docs-pcf-staging.cfapps.io/platform/2-10/release-notes/opsmanager-rn.html#runtime-config-overrides

Leader-follower instances have additional infrastructure requirements for capacity planning, availability zones (AZs), and networking compared to singleton instances.

