---
title: Overriding Manifest Properties in Advanced Mode
owner: Ops Manager
---

This topic describes how you can use Advanced Mode to override some manifest properties.
This allows you to change properties that you cannot change through the Ops Manager UI.


## <a id='overview'></a> Overview

How the overrides work...

You can edit the properties in the following sections of the manifest:

+ Network
+ BOSH instance group
+ Runtime config

You cannot edit properties in other sections of the manifest.
For example, you cannot add or delete an arbitrary instance group.

## <a id='prerequisites'></a> Prerequisites

Before you can override manifest properties, you must set Ops Manager to Advanced Mode.

<p class="note warning"><strong>Warning:</strong> <%= vars.company_name %> recommends that
only skilled operators use Ops Manager's Advanced Mode.
If you use Advanced Mode incorrectly, you can disable or destroy your deployment.
</p>

[//]: # (Change the above warning into a partial that can be used consistently. See "Ops Manager Fields That Lock on Deploy")

To set Ops Manager to Advanced Mode, follow the instructions in [How to Enable Advanced Mode
in the Ops Manager](https://community.pivotal.io/s/article/How-to-Enable-Advanced-Mode-in-the-Ops-Manager?language=en_US)
in the Knowledge Base.

## <a id="api"></a>API Docs

See [Advanced Manifest Configuration](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration)
in the _Ops Manager API Reference_.


## <a id='examples'></a> Practical Examples of Properties that Can Be Overridden
