---
title: Overriding Manifest Properties in Advanced Mode
owner: Ops Manager
---

This topic describes how you can use Advanced Mode to override some manifest properties.
This allows you to change properties that you cannot change through the Ops Manager UI
or the Ops Manager API.

## <a id='overview'></a> Overview

Ops Manager is an interface to the BOSH Director manifest and the runtime configs
that underlie VMware Tanzu.
Ops Manager does not allow you to edit the manifest and configs directly.

When you configure Ops Manager through the UI or API,
you set many of the properties contained in the manifest and configs.
Ops Manager sets some other properties for you, and other properties use the default
values provided by VMware Tanzu or BOSH.

Use the manifest property override feature described in this topic to modify properties
that cannot be modified in other ways.

## <a id='process'></a> Process

Follow the steps below to override manifest properties.

1. If the property that you want to change can be modified through the Ops Manager UI
or the Ops Manager API, use the UI or API to change the property.

2. If the property cannot be modified through the Ops Manager UI or the Ops Manager API:

    1. Determine if the property can be overridden. See [Overridable Properties](#properties).

    1. If the property is in the BOSH Director Manifest, see
    <a href="#bosh-overrides"> Override BOSH Director Manifest Properties</a>.

    4. If the property is in one of the runtime configs, see
	 <a href="#"runtime-config-overrides">Override Runtime Config Properties</a>.

<p class="note"><strong>Warning:</strong> No validation is performed on the properties that you change
using Advanced Mode.
For example, if you enter a string where an integer is required, no error is given.
</p>

## <a id='properties'></a> Overridable Properties

You can edit properties in the BOSH Director manifest and two of the runtime configs.

### <a id='bosh-director-manifest'></a>BOSH Director Manifest

In the BOSH Director manifest, you can override properties in the following sections:

* `network` group
* `instance_group` `jobs`

You cannot:

+ Edit properties in other sections of the BOSH Director manifest
+ Add or delete a network
+ Add or delete an instance group

### <a id='runtime-configs'></a>Runtime Configs

You can edit properties in two add-ons in each of two of the runtime configs files.
The table below lists these:

<table>
  <tr>
    <th>Runtime Config</th>
    <th>Add-on</th>
  </tr>
  <tr>
    <td><code>ops_manager_dns_runtime</code></td>
    <td><ul>
      <li><code>bosh_dns</code></li>
      <li><code>bosh_dns_windows</code></li>
    </ul></td>
  </tr>
  <tr>
    <td><code>ops_manager_system_metrics_runtime</code></td>
    <td><ul>
      <li><code>system_metrics_agent</code></li>
      <li><code>system_metrics_agent_windows</code></li>
    </ul></td>
  </tr>
</table>


## <a id='prerequisites'></a> Prerequisites

Before you can override properties, you must set Ops Manager to Advanced Mode.

<p class="note warning"><strong>Warning:</strong> <%= vars.company_name %> recommends that
only skilled operators use Advanced Mode in Ops Manager.
If you use Advanced Mode incorrectly, you can disable or destroy your deployment.
</p>

To set Ops Manager to Advanced Mode, follow the instructions in [How to Enable Advanced Mode
in the Ops Manager](https://community.pivotal.io/s/article/How-to-Enable-Advanced-Mode-in-the-Ops-Manager?language=en_US)
in the Knowledge Base.


For additional information about Advanced Mode, see [Advanced Mode](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Mode)
in the _Ops Manager API_ documentation.

## <a id="bosh-overrides"></a> Override BOSH Director Manifest Properties

To override properties in the BOSH Director manifest:

1. Use the `/api/v0/staged/director/overrides` endpoint.

    For details, see [Advanced Manifest Configuration](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration)
in _Ops Manager API_ documentation.
    This documentation also describes how to view the BOSH Director manifest,
view overrides that are applied, and to delete the overrides.



## <a id="runtime-config-overrides"></a> Override Runtime Config Properties


To override properties in the runtime configs:

1. Use the `/api/v0/staged/director/runtime_configs/overrides` endpoint.

For more information, see:

+ [BOSH DNS job spec](https://github.com/cloudfoundry/bosh-dns-release/blob/master/jobs/bosh-dns/spec) in GitHub.
  This file shows the properties and defaults for the `bosh_dns` add-on in the `ops_manager_dns_runtime`.
+ [Provide a new list of runtime config overrides for the BOSH
Director](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration/paths/~1api~1v0~1staged~1director~1runtime_configs~1overrides/get)
in the _Ops Manager API Reference_.
+ [Advanced Mode](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Mode) in Ops Manager API Documentation



## <a id='examples'></a> Examples of Overridable Properties

Examples of properties that customers have asked to override:

###<a id='example1'></a>BOSH Director Manifest Example: Change the network type to dynamic

By default, the network type is set to `manual`.
You cannot change this property through the Ops Manager UI or API.
Override this by changing the value of the `type` property in the "Networks" block of the
BOSH Director manifest.

###<a id='example2'></a>Runtime Config Example: Change the timeout for the BOSH DNS network health check

By default, the network timeout for synchronous health checks is 1 second.
You cannot cannot this property through the Ops Manager UI or API.
Override this by changing the value of the `health.health.synchronous_check_timeout`
property in the `bosh-dns` add-on of the `ops_mananger_dns_runtime` runtime config.

