The **BOSH DNS Config** pane allows you to configure DNS for BOSH Director by adding excluded recursors, a recursor timeout, and handlers. 

The following describes the fields on the **BOSH DNS Config** pane:

* **Excluded Recursors**: Exclude recursor addresses, which are URL redirects, so that they are not contacted by the BOSH DNS server. For more information about how the BOSH DNS release selects recursors, see [Recursors](https://bosh.io/docs/dns/#recursors) in the BOSH documentation. 
* **Recursor Timeout**: Specify a timeout for the BOSH DNS server to contact any connected recursor addresses. The time limit includes dialing, writing, and reading from the recursor. If any of these actions exceeds the time limit, the action fails.
* **Handlers**: Specify recursor addresses that apply to specific domains. For example, you can use handlers to forward all requests to a domain to a private DNS for resolution. For more information about using handlers, see [Additional Handlers](https://bosh.io/docs/dns/#additional-handlers) in the BOSH documentation.

To add excluded recursors, a recursor timeout, or handlers to the BOSH DNS release, do the following:

<ol>
<li>Select <strong>BOSH DNS Config</strong>.
<%= image_tag("../common/images/bosh-dns-config.png", :alt => "At the top of the image is the header 'BOSH DNS Config', underneath which is a horizontal line. Below the line are two text fields labeled, from top to bottom, 'Excluded Recursors' and 'Recursor Timeout'. Below these fields is a text area labeled 'Handlers', containing the text '[]'. To the right of this text area is the help text 'Enter a JSON-formatted list of optional custom domain handlers'. At the bottom of the image is a blue, rectangular button labeled 'Save'.") %>
</li>
<li>(Optional) In <strong>Excluded Recursors</strong>, enter a list of prohibited recursor addresses.</li>
<li>(Optional) In <strong>Recursor Timeout</strong>, enter a time limit for contacting the connected recursors. <br/>
<p class="note"><strong>Note</strong>: This time limit must include one of the Go parse duration time units. For example, entering <code>5s</code> sets the timeout limit to five seconds. For more information about supported time units, see <a href="https://golang.org/pkg/time/#ParseDuration">func ParseDuration</a> in the Go Programming Language documentation.</p></li>
<li>(Optional) In <strong>Handlers</strong>, enter an array of custom domain handlers in JSON format. For example:
	<pre>
	"dns_configuration": {
	    "recursor_timeout": "2s",
	    "handlers": [
	      {
	        "cache": {
	          "enabled": true
	        },
	        "domain": "example.com",
	        "source": {
	          "type": "http",
	          "url": "http://example.endpoint.local"
	        }
	      }
	    ]
  	},
	</pre>	
</li>
<li>Click <strong>Save</strong>.</li>
</ol>