<ol>
<li>Select <strong>BOSH DNS Config</strong>.
<%= image_tag("../common/images/bosh-dns-config.png", :alt => "At the top of the image is the header 'BOSH DNS Config', underneath which is a horizontal line. Below the line are two text fields labeled, from top to bottom, 'Excluded Recursors' and 'Recursor Timeout'. Below these fields is a text area labeled 'Handlers', containing the text '[]'. To the right of this text area is the help text 'Enter a JSON-formatted list of optional custom domain handlers'. At the bottom of the image is a blue, rectangular button labeled 'Save'.") %>
</li>
<li>(Optional) In <strong>Excluded Recursors</strong>, enter a list of prohibited recursor addresses.</li>
<li>(Optional) In <strong>Recursor Timeout</strong>, enter a time limit for contacting the connected recursors. This includes dialing, writing, and reading from the recursor. If any of these actions exceeds the time limit you set, the action fails. <br/>
<p class="note"><strong>Note</strong>: This time limit must include one of the Go parse duration time units. For example, entering <code>5s</code> sets the timeout limit to five seconds. For more information about supported time units, see <a href="https://golang.org/pkg/time/#ParseDuration">func ParseDuration</a> in the Go Programming Language documentation.</p></li>
<li>(Optional) In <strong>Handlers</strong>, enter a list of custom domain handlers in JSON format.</li>
<li>Click <strong>Save</strong>.</li>
</ol>