Ops Manager is the dashboard for deploying all of your Pivotal Cloud Foundry (PCF) runtimes and services.

Bosh Director is a tile within Ops Manager.  Bosh Director assists in configuring your cloud environment's
availability zones, security settings, and external names and IP addresses. The BOSH Director tile is deployed as part of Ops Manager installation.

Example runtimes and services managed by the Bosh Director tile include, but aren’t limited to:  
<ul>
	<li>Pivotal Application Service (PAS)</li>
	<li>Pivotal Application Service for Windows (PASW)</li>
	<li>MySQL for PCF</li>
	<li>Pivotal Container Service (PKS)</li>
</ul>