
Bosh Director is the Pivotal Cloud Foundry (PCF) interface for deploying, configuring, managing, and upgrading your chosen PCF runtime. 
The Bosh Director tile is installed when deploying Ops Manager. After deploying Ops Manager, you can launch and configure BOSH Director and manage PCF runtimes.

Example PCF runtimes and services managed by Bosh Director include, but aren’t limited to:  
<ul>
	<li>Pivotal Application Service (PAS)</li>
	<li>Pivotal Application Service for Windows (PASW)</li>
	<li>MySQL for PCF</li>
	<li>Pivotal Container Service (PKS)</li>
</ul>
<p class="note"><strong>Note:</strong> Bosh Director is required for managing runtimes using Ops Manager. The following procedures install BOSH Director during Ops Manager deployment.</p>